.info-panel {
    position: fixed;
    background: #e4e3df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    z-index: 1100;
    color: #222;
    display: flex;
    box-sizing: border-box;
}

.info-panel-sidebar {
    width: 73px;
    border-right: 1px solid var(--brand-secondary);
    flex-shrink: 0;
}

.info-panel-main {
    flex: 1;
    word-break: break-word;
    overflow: hidden;
}

@media (min-width: 640px) {
    .info-panel {
        top: 0;
        right: 0;
        width: 512px;
        height: 100%;
        transform: translateX(100%);
    }

    .info-panel.open {
        transform: translateX(0);
    }

    .info-panel-details {
        max-height: calc(100vh - 70px);
    }
}

@media (max-width: 639px) {
    .info-panel {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        transform: translateY(100%);
    }

    .info-panel.open {
        transform: translateY(0);
    }

    .info-panel-details#landfill {
        max-height: 20vh;
    }

    .info-panel-details#serbia {
        max-height: 50vh;
    }

    .info-panel-details#info {
        max-height: 35vh;
    }
}

.info-panel-details {
    overflow-y: auto;
}

.panel-btn:not(.close) svg {
    height: 16px;
    width: 16px;
}

.panel-btn.close,
.panel-btn.bbox,
.panel-btn.seg,
.panel-btn.zoom {
    left: 20px;
}

.panel-btn.bbox {
    top: 118px;
}

.panel-btn.seg {
    top: 168px;
}

.panel-btn.zoom {
    top: 218px;
}

.panel-btn.bbox.on,
.panel-btn.seg.on,
.panel-btn.zoom.on {
    background-color: var(--brand-secondary);
}

.panel-btn.bbox.on:hover,
.panel-btn.seg.on:hover,
.panel-btn.zoom.on:hover {
    background-color: var(--brand-primary);
}

.panel-content {
    padding: 2.5rem 1rem 1rem;
    overflow-y: auto;
}

.info-panel-logo {
    display: block;
    height: 32px;
}

.info-panel-title {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-right: 20px !important;
    margin-block: 0.8em !important;
}

.info-panel p,
.info-panel a,
.info-panel h2,
.info-panel h4,
.info-panel span {
    transform: scaleY(0.95);
    color: var(--brand-primary);
    margin: 0;
}

.info-panel-image {
    display: block;
    width: 100%;
}

.info-panel-details-section {
    padding: 20px;
}

.info-panel-content {
    border-top: 1px solid var(--brand-secondary);
}

.info-panel-details-section:not(:last-child) {
    border-bottom: 1px solid var(--brand-secondary);
}

.info-panel p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-panel span {
    display: flex;
    font-weight: 600;
    justify-content: center;
}

.info-panel span.route:hover {
    color: var(--brand-secondary);
    cursor: pointer;
}

.info-panel-listitem {
    margin: 16px 0;
}

.info-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.info-panel a {
    color: #1c4479;
}

.info-panel a:hover {
    color: #320d68;
}

.info-links .link-icon {
    vertical-align: top;
    margin-top: 3px;
}
