.layer-panel {
    position: fixed;
    background: #e4e3df;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    z-index: 1100;
    color: #222;
    display: flex;
}

@media (min-width: 640px) {
    .layer-panel {
        top: 0;
        left: 0;
        width: 420px;
        height: 100%;
        transform: translateX(-100%);
    }

    .layer-panel.open {
        transform: translateX(0);
    }
}

@media (max-width: 639px) {
    .layer-panel {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        transform: translateY(100%);
    }

    .layer-panel.open {
        transform: translateY(0);
    }

    .layer-panel-content {
        max-height: 45vh;
    }
}

.layer-panel-sidebar {
    width: 73px;
    border-right: 1px solid var(--brand-secondary);
}

.layer-panel-main {
    flex: 1;
}

.panel-content {
    padding: 2.5rem 1rem 1rem;
}

.layer-panel-content {
    overflow-y: auto;
}

.layer-panel-title {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-right: 20px !important;
    margin-block: 0.8em !important;
}

.layer-panel p,
.layer-panel h2 {
    transform: scaleY(0.95);
    color: var(--brand-primary);
    margin: 0;
}

.layer-panel-content {
    border-top: 1px solid var(--brand-secondary);
}

.layer-panel p {
    display: flex;
    gap: 5px;
    align-items: center;
}
